<div class="l-content management">
	<h2 class= "centered"> Ereignisse </h2>
	<div class = "medium-12 large-12 columns">
		<div class="medium-9 large-9 columns">
			<table class= "event-table">
				<thead>
					<tr>
						<th>Thema</th>
						<th>Nachricht</th>
					</tr>
				</thead>
				<tbody>
	      <% @current_events.each do |event| %>
					<tr>
						<td class = "centered"><div class="<%= event.type.downcase  %>-icon"></div> <%= Event.types_mapping.fetch(event.type)%></td>
						<td><%= event.message %></td>
					</tr>
	       <% end %>
				</tbody>
			</table>
			<div class = "medium-6 large-6 columns ">
				<div class = "report">
					<h3> Finanzbericht </h3>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							Ausgangslage
						</div>
						<div class= "medium-6 large-6 columns">
							Betrag zum Anfang des Spiels
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							Zinsen
						</div>
						<div class= "medium-6 large-6 columns">
							Kosten laufender Zinsen
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							Kredite
						</div>
						<div class= "medium-6 large-6 columns">
							Kredit einnahmen
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							Einkauf
						</div>
						<div class= "medium-6 large-6 columns">
							Ausgaenvnsfkjnkj
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							Personal
						</div>
						<div class= "medium-6 large-6 columns">
							Ausgaenvnsfkjnkj
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							Produktion
						</div>
						<div class= "medium-6 large-6 columns">
							Ausgaenvnsfkjnkj
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							Maschinen
						</div>
					</div>
						<div class= "medium-6 large-6 columns">
							Ausgaenvnsfkjnkj
						</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							Verkauf
						</div>
						<div class= "medium-6 large-6 columns">
							Ausgaenvnsfkjnkj
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							Endlage
						</div>
						<div class= "medium-6 large-6 columns">
							Ausgaenvnsfkjnkj
						</div>
					</div>
				</div>
			</div>
			<div class = "medium-6 large-6 columns">
				<div class = "report">
					<h3> Wichtige Zahlen auf einem Blick </h3>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							Liquidationswert Ende letzten Jahres
						</div>
						<div class= "medium-6 large-6 columns">
							245k Euro
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							Saatgut
						</div>
						<div class= "medium-6 large-6 columns">
							323
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							Viehbestand
						</div>
						<div class= "medium-6 large-6 columns">
							Ausgaenvnsfkjnkj
						</div>
					</div>
						<div class= "row">
						<div class= "medium-6 large-6 columns">
							Personal
						</div>
						<div class= "medium-6 large-6 columns">
							20 Mitarbeiter
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							bestellte Felder
						</div>
						<div class= "medium-6 large-6 columns">
							3 h
						</div>
					</div>
					<div class= "row">
						<div class= "medium-6 large-6 columns">
							Maschinenbesetzung
						</div>
						<div class= "medium-6 large-6 columns">
							12
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class = "medium-3 large-3 columns">
			<div class= "content-box ">
				Hier siehst du deinen Übersichtsbildschirm deines Unternehmens. Neben den letzten aktuellen Nachrichten erhälst du zusätzlich einen kurzen Finanzbericht für das letzte Jahr und einen Überblick über wichtige Kennzahlen des Unternehmens. Unter anderem siehst du hier den Liquidationswert des Unternehmens. Die Finanz-, Produktions- und Verkaufsberichte des letzten Jahres sind ebenfalls auf dieser Seite verlinkt.
			<hr/></div>
		</div>
	</div>
</div>



