/*
 * Crops
 */
.wheat-icon{
   background: url(wheat-logo.png) no-repeat center;
   background-size: 30px 30px;
   height: 30px;
}

.corn-icon{
   background: url(wheat-logo.png) no-repeat center;
   background-size: 30px 30px;
   height: 30px;
}

.oat-icon{
   background: url(wheat-logo.png) no-repeat center;
   background-size: 30px 30px;
   height: 30px;
}

.finance-icon{
   background: url(finance-logo.png) no-repeat center;
   background-size: 30px 30px;
   height: 30px;
}

.disease-icon{
   background: url(disease-logo.png) no-repeat center;
   background-size: 30px 30px;
   height: 30px;
}

.happy-logo{
   background: url(happy-logo.png) no-repeat center;
   background-size: 50px 50px;
   height: 50px;
}

.sad-logo{
   background: url(sad-logo.png) no-repeat center;
   background-size: 50px 50px;
   height: 50px;
}

.indifferent-logo{
   background: url(indifferent-logo.png) no-repeat center;
   background-size: 50px 50px;
   height: 50px;
}

.price-icon{
   background: url(price-logo.png) no-repeat center;
   background-size: 30px 30px;
   height: 30px;
}

.storm-icon{
   background: url(storm-logo.png) no-repeat center;
   background-size: 30px 30px;
   height: 30px;
}

.sales-icon{
   background: url(sales-logo.png) no-repeat center;
   background-size: 30px 30px;
   height: 30px;
}
/*
 * animals
 */
.pig-icon{
   background: url(pig-logo.png) no-repeat center;
   background-size: 30px 30px;
   height: 30px;
}

.cow-icon{
   background: url(cow-logo.png) no-repeat center;
   background-size: 30px 30px;
   height: 30px;
}

.cattle-icon{
   background: url(cow-logo.png) no-repeat center;
   background-size: 30px 30px;
   height: 30px;
}



/*
 * machinery
 */

.tractor-icon{
   background: url(tractor-logo.png) no-repeat center;
   background-size: 30px 30px;
   height: 30px;
}

.harvester-icon{
   background: url(tractor-logo.png) no-repeat center;
   background-size: 30px 30px;
   height: 30px;
}
