.sidebar {
  position: absolute;
  top: 0;
  background-color: darkgray;
  height: 100%;
  position:fixed;
  z-index: 1;
  opacity: 0.5;
  width: 13%;

}

.farm-logo {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 10px;
  height: 150px;
  max-width: 13%;
  margin-top: 50px;

}