.sidebar {
  position: absolute;
  top: 0;
  background-color: darkgray;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  width: 13%;
  .navigation {
    list-style: none;
    margin-top: 50px;
    .nav-item {
      font-size: 20px;
      padding: 10px;
      a{
        color: white;
        &:hover {
          color: black;
        }
      }
    }

  }
}

.farm-logo {
  position: relative;
  z-index: 2;
  height: 150px;
  margin-top: 50px;

}
