.sidebar {
  position: absolute;
  top: 0;
  background-color: darkgray;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  width: 170px;

}

.farm-logo {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 150px;
  margin-top: 50px;

}