.l-content {
  min-height: 100%;
  margin-left: 13%;
  padding: 10px;
  background-color: #f5f5f5;
  padding-bottom: 45px;
  box-sizing: border-box;
  overflow: scroll;
  background-image: url("field_pic.jpg") ;
  background-repeat: cover;
}



