<div class= "header">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Simulation Game!</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li>
            <%= link_to "Verwaltung", management_path %>
          </li>
          <li>
            <%= link_to "Handel", trades_path %>
          </li>
        </ul>

      </section>
    </nav>
</div>